.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid #ffffff;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 1.5rem;
    height: 1.5rem;
    color:rgb(251, 251, 251);
}
.t-button{

    border-radius: 100%;
    background: rgb(250, 203, 203);
    position: absolute;
}
