@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300&display=swap');
*{
  font-family: 'Noto Sans Thai', sans-serif;
}
:root
{
  --yellow: #F5C32C;
    --orange : #feb53f;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #facb30 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 11px 26px 11px 26px;
    align-items: center;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
  .button2 {
    background: linear-gradient(180deg, #0400fc 26.71%, #4f46fd 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 11px 26px 11px 26px;
    align-items: center;
  }
  
  .button2:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--purple);
    color: var(--purple);
  }
  @media screen and (max-width: 960px) {

    .button {
      background: linear-gradient(180deg, #facb30 26.71%, #fb982f 99.36%);
      box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
      border-radius: 30px;
      color: white;
      font-size: 10px;
    }
    .button2 {
      background: linear-gradient(180deg, #0400fc 26.71%, #4f46fd 99.36%);
      box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
      border-radius: 30px;
      color: white;
      font-size: 10px;
      align-items: center;
    }
    
  }

  

  