@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300&display=swap');
*{
  font-family: 'Noto Sans Thai', sans-serif;
}
:root
{
  --yellow: #F5C32C;
    --orange : #feb53f;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    background-color: rgb(250, 230, 230);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);  
}

.button {
    background: linear-gradient(180deg, #ffffff 26.71%, #f7ede3 99.36%);
    border: 2px solid var(--orange);
    border-radius: 34px;
    color: rgb(7, 7, 7);
    font-size: 20px;
    padding: 11px 26px 11px 26px;
    align-items: center;
    width: 100%;
    margin-top: -0.7rem;

  }
  
  .button:hover {
    background: linear-gradient(180deg,#f7ede3 26.71%, #ffffff 99.36%);
    cursor: pointer;
    border: 2px solid var(--black);
    color: var(--orange);
  }
  
  .button2:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--purple);
    color: var(--purple);
  }
  @media screen and (max-width: 480px) {

    .button {
      font-size: 13px;
      margin-top: -0.9rem;

    }
  }
  @media screen and (max-width: 960px)and (min-width: 480px) {

    .button {
      background: linear-gradient(180deg, #ffffff 26.71%, #f7ede3 99.36%);
      border: 2px solid var(--orange);
      border-radius: 30px;
      color: rgb(0, 0, 0);
      font-size: 15px;
      margin-top: -0.5rem;
  
    }
    
  }

  

  